# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: cachix

on:
  push:
    branches:
      - 'main'
  workflow_dispatch:
  workflow_call:
    inputs:
      ref:
        description: 'Ref/branch to check'
        required: false
        type: string

jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-latest # x86_64-linux
        emacs:
          - emacs30
          - emacs30-nox
          - emacs30-gtk3
          - emacs30-pgtk
          - emacs-without-nativecomp
# See https://github.com/marienz/nix-doom-emacs-unstraightened/issues/42
#          - macos-latest  # aarch64-darwin
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
      - name: Install Nix
        uses: cachix/install-nix-action@v30
        with:
          github_access_token: '${{ secrets.GITHUB_TOKEN }}'
          extra_nix_config: |
            # Increase tarball-ttl to work around https://github.com/NixOS/nix/issues/10773
            tarball-ttl = 60 * 60 * 24 * 365; # 1 year
      - name: Enable Cachix
        uses: cachix/cachix-action@v15
        with:
          name: doom-emacs-unstraightened
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
          cachixArgs: '-v'
      - name: Cache downloads
        uses: ./.github/actions/cache-downloads
      - name: Build packages for Cachix
        run: nix build .#cachix-${{ matrix.emacs }}
