# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: cachix

on:
  push:
    branches:
      - 'main'
  workflow_dispatch:
  workflow_call:
    inputs:
      ref:
        description: 'Ref/branch to check'
        required: false
        type: string
    secrets:
      CACHIX_AUTH_TOKEN:
        description: 'auth token for writing to cachix (when called from CI)'
        required: true

jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-latest # x86_64-linux
          - macos-latest  # aarch64-darwin
        emacs:
          - emacs30
          - emacs30-nox
          - emacs30-gtk3
          - emacs30-pgtk
          - emacs-without-nativecomp
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ inputs.ref }}
      - name: Install Nix
        uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1
        with:
          github_access_token: '${{ secrets.GITHUB_TOKEN }}'
      - name: Enable Cachix
        uses: cachix/cachix-action@3ba601ff5bbb07c7220846facfa2cd81eeee15a1 # v16
        with:
          name: doom-emacs-unstraightened
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
          cachixArgs: '-v'
      - name: Cache downloads
        uses: ./.github/actions/cache-downloads
      - name: Build packages for Cachix
        run: nix build .#cachix-${{ matrix.emacs }}
