# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: nix flake update
description: "Check out main, update flake.lock, push to flake-update."

on:
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    permissions:
      contents: "write"
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          ref: main
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
      - name: Update and push flake.lock
        run: |
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"
          git checkout -b flake-update
          nix flake update --commit-lock-file
          git push --force origin flake-update
